In [1]:
import numpy as np

In [5]:
np.dot([1, 1.5, 2.5, 3], [0.25, 0.375, 0.25, 0.125])

1.8125

In [4]:
14.5/8

1.8125

In [6]:
23/8

2.875

In [7]:
np.dot([1, 2, 3, 4, 5], [0.25, 0.125, 0.25, 0.25, 0.125])

2.875

In [8]:
from itertools import product as prod

In [9]:
s = {'H', 'M', 'L'}
p = {'H':0.01, 'M':0.04, 'L':0.95}

In [12]:
space = list(prod(s, repeat=3))

In [26]:
import pandas as pd

In [16]:
import numpy as np

In [27]:
df = pd.DataFrame({"space":space})

In [30]:
df['probs'] = df['space'].apply(lambda x: p[x[0]]*p[x[1]]*p[x[2]])
df

        space     probs
0   (L, L, L)  0.857375
1   (L, L, M)  0.036100
2   (L, L, H)  0.009025
3   (L, M, L)  0.036100
4   (L, M, M)  0.001520
5   (L, M, H)  0.000380
6   (L, H, L)  0.009025
7   (L, H, M)  0.000380
8   (L, H, H)  0.000095
9   (M, L, L)  0.036100
10  (M, L, M)  0.001520
11  (M, L, H)  0.000380
12  (M, M, L)  0.001520
13  (M, M, M)  0.000064
14  (M, M, H)  0.000016
15  (M, H, L)  0.000380
16  (M, H, M)  0.000016
17  (M, H, H)  0.000004
18  (H, L, L)  0.009025
19  (H, L, M)  0.000380
20  (H, L, H)  0.000095
21  (H, M, L)  0.000380
22  (H, M, M)  0.000016
23  (H, M, H)  0.000004
24  (H, H, L)  0.000095
25  (H, H, M)  0.000004
26  (H, H, H)  0.000001

In [34]:
df['X'] = df['space'].apply(lambda x: len([a for a in x if a == 'H']))
df['Y'] = df['space'].apply(lambda x: len([a for a in x if a == 'M']))
df

        space     probs  X  Y
0   (L, L, L)  0.857375  0  0
1   (L, L, M)  0.036100  0  1
2   (L, L, H)  0.009025  1  0
3   (L, M, L)  0.036100  0  1
4   (L, M, M)  0.001520  0  2
5   (L, M, H)  0.000380  1  1
6   (L, H, L)  0.009025  1  0
7   (L, H, M)  0.000380  1  1
8   (L, H, H)  0.000095  2  0
9   (M, L, L)  0.036100  0  1
10  (M, L, M)  0.001520  0  2
11  (M, L, H)  0.000380  1  1
12  (M, M, L)  0.001520  0  2
13  (M, M, M)  0.000064  0  3
14  (M, M, H)  0.000016  1  2
15  (M, H, L)  0.000380  1  1
16  (M, H, M)  0.000016  1  2
17  (M, H, H)  0.000004  2  1
18  (H, L, L)  0.009025  1  0
19  (H, L, M)  0.000380  1  1
20  (H, L, H)  0.000095  2  0
21  (H, M, L)  0.000380  1  1
22  (H, M, M)  0.000016  1  2
23  (H, M, H)  0.000004  2  1
24  (H, H, L)  0.000095  2  0
25  (H, H, M)  0.000004  2  1
26  (H, H, H)  0.000001  3  0

In [39]:
df['XY']= df.apply(lambda x: str(x['X']) + str(x['Y']), axis = 1)
df

        space     probs  X  Y  XY
0   (L, L, L)  0.857375  0  0  00
1   (L, L, M)  0.036100  0  1  01
2   (L, L, H)  0.009025  1  0  10
3   (L, M, L)  0.036100  0  1  01
4   (L, M, M)  0.001520  0  2  02
5   (L, M, H)  0.000380  1  1  11
6   (L, H, L)  0.009025  1  0  10
7   (L, H, M)  0.000380  1  1  11
8   (L, H, H)  0.000095  2  0  20
9   (M, L, L)  0.036100  0  1  01
10  (M, L, M)  0.001520  0  2  02
11  (M, L, H)  0.000380  1  1  11
12  (M, M, L)  0.001520  0  2  02
13  (M, M, M)  0.000064  0  3  03
14  (M, M, H)  0.000016  1  2  12
15  (M, H, L)  0.000380  1  1  11
16  (M, H, M)  0.000016  1  2  12
17  (M, H, H)  0.000004  2  1  21
18  (H, L, L)  0.009025  1  0  10
19  (H, L, M)  0.000380  1  1  11
20  (H, L, H)  0.000095  2  0  20
21  (H, M, L)  0.000380  1  1  11
22  (H, M, M)  0.000016  1  2  12
23  (H, M, H)  0.000004  2  1  21
24  (H, H, L)  0.000095  2  0  20
25  (H, H, M)  0.000004  2  1  21
26  (H, H, H)  0.000001  3  0  30

In [43]:
df.groupby('XY', as_index= False)['probs'].sum()

   XY     probs
0  00  0.857375
1  01  0.108300
2  02  0.004560
3  03  0.000064
4  10  0.027075
5  11  0.002280
6  12  0.000048
7  20  0.000285
8  21  0.000012
9  30  0.000001

In [44]:
df.groupby('X', as_index= False)['probs'].sum()

   X     probs
0  0  0.970299
1  1  0.029403
2  2  0.000297
3  3  0.000001

In [54]:
df[df['X'] == 1 ].groupby('Y')['probs'].sum()/df[df['X'] == 1 ]['probs'].sum()

Y
0    0.920824
1    0.077543
2    0.001632
Name: probs, dtype: float64